
<h1> Comments </h1>
<div class ="table-responsive">
<table class="table table-bordered">
  <thead>
      <tr>
          <th>id</th>
          <th>owner</th>
          <!--<th>Approve?</th>-->
          <th>Body</th>
          <th>Date</th>
      </tr>
  </thead>
  <tbody>
    {{#each comments}}
    <tr>
      <td>{{id}}</td>
      <td>{{user.email}}</td>
      <!--<td><input type="checkbox" name="approveComment"></td>-->
      <td>{{body}}</td>
      <td>{{date}}</td>
      <td><form action="/admin/comments/{{id}}?_method=DELETE" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
